.container {
    overflow-x: hidden;
    background: #363535;
    width: 100%;
    height: 4000px;    
}
/* .content {
    width: 100%;
max-width: 1460px;
margin: 0 auto; }  */



header {
    /* width: 100%;
    max-width: 1460px;
    margin: 0 auto; */
    /* display: flex; */
    /* width: 1460px;
    margin-left: 230px; */
}

 .logo { 
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: #FFFFFF;
    justify-self: right;
    margin-top: 50px;

}
.tel-code {
    color: #D6AF76; 
}
.phone-namber {
    color: #FFFFFF;
}


.callback {
    display: flex;
    width: 218px;
    height: 50px;
    border: solid 1px; 
    border-color: #E4B564;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    justify-self: right;
    
    
    
}
.phone-logo {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.callback-button {
    color: #E4B564;
    font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
    
}
.wrapper {
width: 100%;
max-width: 1460px;
margin: 0 auto;
display: grid;
grid-template-columns: 1000px 220px 220px;
grid-template-rows: 1;
column-gap: 5px;
justify-content: space-between;
}
h1 {
font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
width: 100%;
max-width: 1460px;
margin-top: 128px;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
}
.under_header {
width: 100%;
max-width: 1460px;
margin-left: auto; 
margin-right: auto;
font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
margin-top: 40px;
color: #FFFFFF;
}
/*=======HEADER END=====*/
/*=======MAIN=====*/

/* .block1{
background-image: url(./img/header-bg.jpeg);
padding-top: 5px;
padding-bottom: ;
} */
.servises {
width: 90%;
max-width: 1460px;
margin: 0 auto;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
margin-top: 40px;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2,1fr);
gap: 30px;
justify-content: center;
align-content: center; 

}
.item_1 {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 467px;
    height: 468px;
    background-color: #634F2C;;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    
}
.item_2 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #B4A385;
}
.item_3 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #E4B564;
}
.item_4 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #635A4A;}   
.item_5 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #B08C4D;}


    /* =====block2===== */
/* .block2{
    background-image: url(./img/parallax-bg.jpeg);
    padding-top: 10px;
} */

h2 {
width: 100%;
max-width: 1460px;
font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
margin-top: 161px;
margin-left: auto;
margin-right: auto;
}

.machinery {

    max-width: 1460px;
    width: 90%;
    height: 897px;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    column-gap: 30px;
    row-gap: 25px;
    row-gap:auto ;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 3;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}
.item_a {
    height: 313px;
    background: #0E0E0E;
    padding-left: 50px;
    padding-top: 30px;
}
.item_b{
    height: 439px;
    background: #242424;
    padding-left: 50px;
    padding-top: 30px;
   

}
.item_c{
    height: 255px;
    background: #1F1F1F;
    display: grid;
   
    padding-left: 50px;
    padding-top: 30px;
}
.item_d{
    height: 560px;
    background: #1F1F1F;
    display: grid;
    position: relative;
    top: -105px;
    padding-left: 50px;
    padding-top: 30px;
}
.item_e{
    height: 439px ;
    background: #E4B564;
    display: grid;
     
    position: relative;
    /* top: 33px; */
    padding-left: 50px;
    padding-top: 30px;
}
.item_f{
    height: 313px;
    background: #0E0E0E;
    display: grid;
    position: relative;
    top: -180px;
    padding-left: 50px;
    padding-top: 30px;
}
.item_g{
    height: 277px;
    background: #0A0909;
    display: grid;
   
    grid-column: 3 / 4;
    position: relative;
    top: -420px;
    padding-left: 50px;
    padding-top: 30px;   
}


/* =====clients and projects====== */

.footer{
display: grid;
width: 100%;
height: 1054px;
background: #0E0E0E;
margin-top: 191px;
margin-bottom: 238px;
margin-left: auto;
margin-right: auto;




}
.foooter-nav {
    width: 1460px;
    height: 50px;
    display: grid; 
    grid-template-columns: 2fr, 1fr;
    margin-left: auto;
    margin-right: auto;
    padding-top: 172px;


}
h3 {width: 597px;
    height: 28px;
    /*  */
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 3;
}
.but {
    height: 50px;
    width: 180px;
    border: solid 1px;
    border-color: #E4B564;
    color: #E4B564;
    background-color: #0E0E0E;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: right;
    
     
    

}
.projects{ 
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "tem_projects_1 item_projects_2 item_projects-3" 
    "item_projects-4 item_projects_5 item_projects_6";
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,391px);

}
    .item_projects_1 {
        width: 487px;
        height: 391px;
        background: #634F2C;
        display: flex;
        justify-content: center;
        align-content: center; 
    }
    .projects_1_logo {
        width: 185px;
        height: 55px;
        justify-self: center;
        align-self: center;}

    .item_projects_2 {
        width: 486px;
        height: 391px;
        display: flex;
        justify-content: center;
        background-color: #E8D2AB;
    }
    .wtf {
        width: 306px;
        display: block;
        align-self: center;
        justify-content: center;
    }
    
    .projekt_2_logo_1 {
        width: 62px;
        height: 55px;
        display: flex;
        margin: 0 auto;
    }
    .projekt_2_logo_2 {
        width: 139px;
        height: 55px;
        display: flex;
        margin: 0 auto;
       
        align-self: center; 
         /* margin-left: auto;
    margin-right: auto;  */
    }
    .projekt_2_logo_3 {
        display: flex;
        justify-self: center;
        align-self  : center; 
    }

    .item_projects_3 {
        
        display: flex;
        justify-content: center;
        align-content: center; 
        width: 487px;
        height: 391px;
        background: #E4B564;
    }
    .projects_3_logo {
        width: 190px;
        height: 42px;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .item_projects_4 {
        display: flex;
        justify-content: center;
        align-content: center; 
        width: 487px;
        height: 391px;
        background: #E4B564;
    }
    .projects_4_logo {
        width: 190px;
        height: 42px;
        display: flex;
        justify-self: center;
        align-self: center; 

    }

    .item_projects_5 {
        width: 486px;
        height: 391px;
        background: #B08C4D;
        display: flex;
        justify-content: center;
        align-content: center; 
    }
    .projects_5_logo {
        height: 53px;
        width: 119px;
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .item_projects_6 {
       
        width: 487px;
        height: 391px;
        background: #634F2C;
        display: flex;
        justify-content: center;
        align-content: center; 
    }
    
    .projects_6_logo {
        width: 185px;
        height: 55px;
        justify-self: center;
        align-self: center;
    }